.navbar-toggler {
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    //border: 3px solid #fff;
    border: none;
    color: transparent
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    margin-left: -14px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.navbar-toggler-icon::before {
    transform: translateY(-10px);
}

.navbar-toggler-icon::after {
    transform: translateY(10px);
}


/* ANIMATION */

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg) translate(35px, 35px);
}